.contact-edit-input {
    border-radius: 10px;
    border: 1px solid #0784b5;
    background-color: #192428;
    color: white;
}

.contact-edit-input:focus {
    border-radius: 10px;
    border: 1px solid #0784b5;
    background-color: #192428;
    color: white;
}