.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.login-form-box {
  border-radius: 15px;
  padding: 25px;
  margin: auto;
  margin-top: 200px;
  max-width: 400px;
  background-color: #192428b4;
}

.login-form-bg-holder {
  width: 100%;
  height: 100%;
}

.login-form-bg {
  background-image: url("https://healthkare.s3.amazonaws.com/assets/login-background-3");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px;
  width: 100%;
  height: 1000px;
}

.login-form-background-overlay {
  position: fixed;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.6);
}
