.contact-small-font {
  font-size: 13px;
  color: white;
}

.contact-medium-font {
  font-size: 15px;
}

.contact-large-font {
  font-size: 17px;
}

.contact-name {
  font-family: Gill Sans, sans-serif;
}

.card-item:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease-in-out;
}

.contact-card {
  margin-top: 60px;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin: 60px;
  height: 250px;
  width: 1315px;
}
