.contact-small-font {
  font-size: 13px;
  color: white;
}

.contact-medium-font {
  font-size: 15px;
}

.contact-large-font {
  font-size: 17px;
}

.contact-name {
  font-family: Gill Sans, sans-serif;
}

.card-enlarged:hover {
  transition: transform 0.5s ease;
  transform: scale(1.2);
  color: #132372bb;
}

.contact-card {
  margin-top: 60px;
  color: white;
  border-radius: 20px;
  text-align: center;
  margin: 60px;
}

.contact-edit-input {
  border-radius: 10px;
  border: 1px solid #0784b5;
  background-color: #192428;
  color: white;
}
