.card {
  width: 400px;
  transition: transform 0.3s ease;
  background: #37464d;
  color: white;
}

.card-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card.enlarged {
  max-height: fit-content;
  max-width: 400px;
  transform: scale(1.04);
  background: #414c50;
}

.card-name {
  text-decoration: none;
  text-align: center;
}

.card-normal {
  height: fit-content;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-left: 560px;
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #ffffff;
    background-color: #0784b5;
  }
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    color: #ffffff;
    background-color: #006188;
  }

  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
    color: #ffffff;
    background-color: #2d383c;
  }

  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root:hover {
    color: #ffffff;
    background-color: #006188;
  }
}

.products-container {
  margin: 50px;
  margin-top: 0px;
}

.no-products-found-text {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.category-filter-container {
  margin-left: 430px;
}

.category-filter {
  color: #ffffff;
  background-color: #2d383c;
  border: #2d383c;
}

.category-filter:hover {
  background-color: #006188;
}

.category-filter:focus {
  background-color: #006188;
}