.utility-buttons {
  background-color: #137252;
  border: #137252;
  border-radius: 30px;
  height: 35px;
  width: 90px;
}

.utility-buttons:hover {
  background-color: #2b2b2b;
  transform: scale(1.05);
}

.utility-button-holder {
  width: 100px;
}
