.font-product-heading {
  font-family: Impact, fantasy;
  font-size: 55px;
}

.font-product-name {
  font-family: Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.font-product-price {
  font-family: Courier New, monospace;
  font-size: 30px;
}

.no-underline {
  text-decoration: none;
}
