.card {
  width: 400px;
  height: 300px;
  max-height: 300px;
  transition: transform 0.3s ease;
}

.card-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card.enlarged {
  max-height: fit-content;
  max-width: 400px;
  transform: scale(1.04);
  background: #8b8b8b30;
  color: #000000;
}

.card-name {
  text-decoration: none;
  text-align: center;
}

.card-normal {
  height: fit-content;
}
