.card {
  width: 400px;
  height: 300px;
  transition: transform 0.3s ease;
}

.card-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card.enlarged {
  transform: scale(1.04);
  background: #000000e2;
  color: #dffc00e1;
}

.card-name{
  text-decoration: none;
  text-align: center;
}
